@import "./main.scss";

.home {
	font-weight: 500;
	padding: 20px;
	user-select: none;
}

.desktop {
	height: 100vh;
	width: 100vw;
	background-color: $main-color;
	position: fixed;
	top: 0px;
	left: 0px;
	position: absolute;

	.circles {
		width: calc(100% + 16px);
		height: calc(100% + 16px);
		margin-left: -8px;
		margin-top: -8px;
		position: relative;

		span {
			width: 20px;
			height: 20px;
			border: 5px solid $white;
			background: $main-color;
			position: absolute;
			border-radius: 50%;
			z-index: 2;

			&.tl {
				top: -6.5px;
				left: -6.5px;
			}
			&.tr {
				top: -6.5px;
				right: -6.5px;
			}
			&.bl {
				bottom: -6.5px;
				left: -6.5px;
			}
			&.br {
				bottom: -6.5px;
				right: -6.5px;
			}
			&.lmt {
				top: calc(35% - 6.5px);
				left: -6.5px;
			}
			&.lmb {
				bottom: calc(35% - 6.5px);
				left: -6.5px;
			}
		}
	}

	.start-button {
		position: absolute;
		top: calc(75vh - 12px);
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 20px 40px;
		border: 3px solid $white;
		color: $white;
		font-size: 24px;
		font-weight: 700;
		cursor: pointer;
		transition: 0.2s ease-in-out;
		background-color: $main-color;

		&:hover {
			color: $main-color;
			background-color: $white;

			.point {
				background-color: $white;
				border: 3px solid $main-color;
			}
		}

		.point {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: $main-color;
			border: 3px solid $white;
			position: absolute;
			transition: 0.2s ease-in-out;

			&.top-left {
				top: -10px;
				left: -10px;
			}
			&.top-right {
				top: -10px;
				right: -10px;
			}
			&.bottom-left {
				bottom: -10px;
				left: -10px;
			}
			&.bottom-right {
				bottom: -10px;
				right: -10px;
			}
		}
	}

	.switch-wrapper {
		background: $main-color;
		width: 40px;
		height: 30%;
		position: absolute;
		top: 35%;
		left: -24px;
		z-index: 1;
		cursor: pointer;

		.switch {
			width: 8px;
			position: absolute;
			height: 100%;
			left: calc(50% - 4px);
			background-color: $white;

			transform-origin: bottom center;
			transform: rotate(30deg);
			z-index: -1;
			transition: 0.5s $easer;

			&.clicked {
				transform: rotate(0deg);
			}
		}
	}

	.battery {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;

		div {
			position: absolute;
			background: $white;
			height: 8px;
			top: 50%;
			position: absolute;

			&.top {
				top: 45%;
				right: -62.5px;
				width: 120px;
				z-index: 1;
			}
			&.blank-space {
				background-color: $main-color;
				top: calc(45% + 4px);
				bottom: 45%;
				height: 5%;
				right: -27.5px;
				width: 50px;
			}
			&.bottom {
				bottom: 45%;
				right: -92.5px;
				width: 180px;
				z-index: 1;
			}
		}
	}

	.text {
		color: $white;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		top: 50%;
		transform: translateY(-50%);

		.one {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 6.5em;
		}
		.two {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 4.5em;
		}
		.text-line {
			margin: 25px 0px;
			width: 200px;
			height: 5px;
			background-color: $white;
		}
		.motto {
			font-weight: 100;
			font-size: 3em;
			.dot {
				margin-left: -5px;
				font-size: 2.1em;
				line-height: 10px;
			}
		}
	}

	.circuit {
		width: 75vw;
		height: 75vh;
		border: 8px solid $white;
		position: fixed;
		top: 12.5vh;
		left: 12.5vw;
	}

	.bulb-wrapper {
		width: 8%;
		position: absolute;
		top: 0px;
		left: 46%;
		transform: translateY(-50%);

		img.bulb {
			width: 100%;
			z-index: 1;
		}

		.bulb-blank {
			position: absolute;
			left: -25%;
			width: 150%;
			height: 50px;
			top: calc(50% - 29px);
			background: $main-color;
			transform: skew(40deg);
			z-index: -1;

			&.other {
				transform: skew(-40deg);
			}
		}
	}
}

.mobile {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: $main-color;
	color: $white;

	.text {
		color: $white;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		top: 25%;
		transform: translateY(-50%);

		.one {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 3.3em;
		}
		.two {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 2.3em;
		}
		.text-line {
			margin: 10px 0px;
			width: 150px;
			height: 3px;
			background-color: $white;
		}
		.motto {
			font-weight: 100;
			font-size: 1.65em;
		}
	}

	.start-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: 7.5%;
		width: 75%;
		left: 12.5%;

		.circuit {
			width: 100%;
		}
		.bulb {
			position: absolute;
			margin-top: 5%;
			width: 30%;
		}
		.label {
			position: absolute;
			bottom: 0%;
			border: 3px solid white;
			border-radius: 5px;
			transform: translateY(0.4em);
			font-size: 1.2em;
			font-weight: 700;
			padding: 5px 10px;
			background: $main-color;
		}
	}
}

@media screen and (max-width: 1200px) {
	.desktop {
		.text {
			.one {
				font-size: 5em !important;
			}
			.two {
				font-size: 3.5em !important;
			}
			.motto {
				font-size: 2.5em !important;
			}
		}
	}
}
@media screen and (max-width: 1500px) {
	.desktop {
		.text {
			.one {
				font-size: 5.5em !important;
			}
			.two {
				font-size: 4em !important;
			}
			.motto {
				font-size: 3em !important;
			}
		}
	}
}
