@import "./main.scss";

.home {
	font-weight: 500;
	padding: 20px;
	user-select: none;
}

.desktop {
	height: 100vh;
	width: 100vw;
	background-color: $main-color;
	position: fixed;
	top: 0px;
	left: 0px;

	.circles {
		span {
			width: 20px;
			height: 20px;
			border: 5px solid $white;
			background: $main-color;
			position: absolute;
			border-radius: 50%;
			z-index: 2;

			&.tl {
				top: -18.5px;
				left: -18.5px;
			}
			&.tr {
				top: -18.5px;
				right: -18.5px;
			}
			&.bl {
				bottom: -18.5px;
				left: -18.5px;
			}
			&.br {
				bottom: -18.5px;
				right: -18.5px;
			}
			&.lmt {
				top: calc(35% - 18.5px);
				left: -18.5px;
			}
			&.lmb {
				bottom: calc(35% - 18.5px);
				left: -18.5px;
			}
		}
	}

	.blanks {
		span {
			position: absolute;
		}
		.switch {
			background: $main-color;
			width: 40px;
			height: 30%;
			top: 35%;
			left: -20px;
			z-index: 1;
			cursor: pointer;
		}
		.battery {
			background: $main-color;
			width: 50px;
			right: -25px;
			top: 46%;
			height: 5%;
		}
		.bulb {
			left: 45%;
			top: calc(100% - 2.5px);
			background: $main-color;
			width: 10%;
			height: 25px;
		}
	}

	.things {
		.label {
			font-size: 2.5em;
			font-weight: 700;
			color: $white;
			position: absolute;
			top: 50%;
			transform: rotate(-90deg) translateY(-300%) translateX(15%);
			cursor: pointer;
		}

		.switch {
			background: $white;
			width: 10px;
			height: 30%;
			position: absolute;
			top: 35%;
			left: -9px;
			z-index: 1;
			transform-origin: bottom center;
			transform: rotate(30deg);
			transition: 0.5s $easer;
			cursor: pointer;

			&.clicked {
				transform: rotate(0deg);
			}
		}

		.battery {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			div {
				position: absolute;
				background: $white;
				height: 8px;
				top: 50%;
				position: absolute;

				&.top {
					top: 45%;
					right: -62.5px;
					width: 120px;
				}
				&.bottom {
					bottom: 45%;
					right: -92.5px;
					width: 180px;
				}
			}
		}
	}

	.text {
		color: $white;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		top: 45%;
		transform: translateY(-50%);

		.one {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 6.5em;
		}
		.two {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 4.5em;
		}
		.text-line {
			margin: 25px 0px;
			width: 200px;
			height: 5px;
			background-color: $white;
		}
		.motto {
			font-weight: 100;
			font-size: 3em;
			.dot {
				margin-left: -5px;
				font-size: 2.1em;
				line-height: 10px;
			}
		}
	}

	.circuit {
		width: 75vw;
		height: 75vh;
		border: 8px solid $white;
		position: fixed;
		top: 12.5vh;
		left: 12.5vw;
	}

	.bulb {
		width: 8%;
		position: absolute;
		top: 95%;
		left: 46%;
		transform: translateY(-50%);
	}
}

.mobile {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: $main-color;
	color: $white;

	.text {
		color: $white;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		top: 25%;
		transform: translateY(-50%);

		.one {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.75em;
		}
		.two {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 1.2em;
		}
		.text-line {
			margin: 10px 0px;
			width: 150px;
			height: 3px;
			background-color: $white;
		}
		.motto {
			font-weight: 100;
			font-size: 0.9em;
		}
	}

	.start-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: 7.5%;
		width: 75%;
		left: 12.5%;

		.circuit {
			width: 100%;
		}
		.bulb {
			position: absolute;
			margin-top: 5%;
			width: 30%;
		}
		.label {
			position: absolute;
			bottom: 0px;
			transform: translateY(25%);
			font-size: 1em;
			font-weight: 700;
			padding: 5px 10px;
			background: $main-color;
		}
	}
}

@media screen and (max-width: 1200px) {
	.desktop {
		.text {
			.one {
				font-size: 5em !important;
			}
			.two {
				font-size: 3.5em !important;
			}
			.motto {
				font-size: 2.5em !important;
			}
		}

		.things {
			.label {
				font-size: 2em !important;
			}
		}
	}
}
@media screen and (max-width: 1500px) {
	.desktop {
		.text {
			.one {
				font-size: 5.5em !important;
			}
			.two {
				font-size: 4em !important;
			}
			.motto {
				font-size: 3em !important;
			}
		}

		.things {
			.label {
				font-size: 2.25em !important;
			}
		}
	}
}
