@import "./main.scss";
$radius: 100px;

.hub-page {
	height: 100%;
	position: fixed;
	width: 100%;
	background: $main-color;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bg {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
}

// *---* XXX: Desktop Menu Styles XXX: *---* //
.menu {
	width: 50vh;
	height: 50vh;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;

	// Single Segment
	.segment {
		background: $white;
		width: calc(50% - 20px);
		height: calc(50% - 20px);
		position: absolute;
		transform: translate(0%, 0%);
		cursor: pointer;
		transition: 0.3s $easer;
		overflow: hidden;

		// Title for each segment
		.title {
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			font-size: 20px;
			padding: 0px 40px;
			width: 100%;
			color: $white;
			text-shadow: 1px 1px 10px black;

			margin: -200px 0px;
			opacity: 0;
			transition: margin 0.3s $easer 0.2s, opacity 0.2s $easer;

			&.bottom {
				position: absolute;
				bottom: 0;
			}
		}

		// Underlay with Picture
		.underlay {
			position: absolute;
			top: -10px;
			bottom: -10px;
			left: -10px;
			right: -10px;
			filter: blur(3px) brightness(0.6);
			z-index: -1;
			opacity: 0;

			background-size: cover;
			background-position: center;

			transition: 0.3s $easer;
		}

		// *---* XXX: The four individual segments XXX: *---* //
		// Top Left segment
		&.tl {
			top: 0px;
			left: 0px;
			border-top-left-radius: $radius;

			&:hover {
				border-radius: $radius / 10;
				width: calc(60% - 20px);
				height: calc(60% - 20px);
				transform: translate(calc(-20px - 10%), calc(-20px - 10%));

				.title {
					margin: 20px 0px;
					opacity: 1;
				}

				.underlay {
					opacity: 1;
				}
			}
		}

		// Top Right segment
		&.tr {
			top: 0px;
			right: 0px;
			border-top-right-radius: $radius;

			&:hover {
				border-radius: $radius / 10;
				width: calc(60% - 20px);
				height: calc(60% - 20px);
				transform: translate(calc(20px + 10%), calc(-20px - 10%));

				.title {
					margin: 20px 0px;
					opacity: 1;
				}
				.underlay {
					opacity: 1;
				}
			}
		}

		// Bottom Right segment
		&.br {
			bottom: 0px;
			right: 0px;
			border-bottom-right-radius: $radius;

			&:hover {
				border-radius: $radius / 10;
				width: calc(60% - 20px);
				height: calc(60% - 20px);
				transform: translate(calc(20px + 10%), calc(20px + 10%));

				.title {
					margin: 20px 0px;
					opacity: 1;
				}
				.underlay {
					opacity: 1;
				}
			}
		}

		// Bottom Left segment
		&.bl {
			bottom: 0px;
			left: 0px;
			border-bottom-left-radius: $radius;

			&:hover {
				border-radius: $radius / 10;
				width: calc(60% - 20px);
				height: calc(60% - 20px);
				transform: translate(calc(-20px - 10%), calc(20px + 10%));

				.title {
					margin: 20px 0px;
					opacity: 1;
				}
				.underlay {
					opacity: 1;
				}
			}
		}
	}

	// Spacer - seperates the segments
	.spacer {
		z-index: 1;
		position: absolute;
		border-radius: 50%;
		background: $main-color;
		width: 60%;
		height: 60%;
	}

	// Bulb image in the middle
	.bulb {
		z-index: 2;
		width: 25%;
	}
}

// XXX: *---* Time for the mobile menu styles brooooo XXX: *---* //
.menu-mobile {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 3px solid white;
	padding: 20px 0px;

	.segment {
		width: 100%;

		// Second element - before bulb
		// &:nth-of-type(2) {
		// 	.title {
		// 		border: none;
		// 	}
		// }

		// Fourth element - after bulb
		&:nth-of-type(4) {
			.title {
				border-top: 3px solid white;
				padding-top: 20px;
				margin-top: 20px;
			}
		}

		// Last element
		&:last-of-type {
			.title {
				border: none;
				margin-bottom: 0px;
				padding-bottom: 0px;
			}
		}

		// Title for each segment
		.title {
			color: white;
			font-size: 24px;
			text-align: center;
			font-weight: 700;
			padding: 0px 20px;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 3px solid white;
		}
	}

	// Middle part - where the bulb is
	.middle {
		overflow: hidden;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 20px 0px;
		position: relative;

		// Wrapper for the image + image
		.bulb-wrapper {
			z-index: 2;
			width: 40%;
			background-color: $main-color;
			padding: 0px 20px;

			.bulb {
				width: 100%;
			}
		}

		// Line through bulb
		.line {
			position: absolute;
			height: 3px;
			width: 100%;
			background-color: white;
		}
	}
}
